.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container-top {
    flex: 0 0 10%;
}

.container-mid {
    flex: 1;
    display: flex;
}

.left,
.right {
    flex: 1;
}

.innerleft {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}